@font-face {
    font-family: "Terminus Bold";
    src: url("../TerminusBold.ttf");
}

svg, svg * {
    font-family: "Terminus Bold", monospace;
    max-height: calc(100vh - 80px);
}

body {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    overflow: hidden;
}

.tracks {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.tracks svg {
    width: 100%;
}

.wrap {
    flex-wrap: wrap;
}

.horizontal {
    flex-wrap: nowrap;
}

.wrap svg {
    width: 50%;
}

.horizontal svg {
    width: 100%;
}

.start {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    padding: 0!important;
    margin: 0;
}

li {
    padding: 3px;
    margin: 0!important;
}

legend {
    color: black;
}

.focused {
    background-color: rgb(64, 105, 191);
    color: white;
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(236, 231, 217);
    min-height: 31px;
    height: fit-content;
}

.top {
    top: 0;
    bottom: unset;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

* {
    zoom: 1.05;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
}

.status-bar * {
    font-family: Arial, Helvetica, sans-serif!important;
    font-weight: 600;
}

.status-bar p {
    margin: 0 5px 0 5px;
}

.tyl {
    width: 40vw;
    height: 40vh;
    margin: 0;
}

.window {
    padding: 0;
}

.screenswitch {
    z-index: 999;
    display: flex;
    justify-content: right;
    align-items: top;
}

.screenswitch svg, .screenswitch button {
    height: 23px;
    border: 1px gray solid;
    margin: 0;
    padding: 0;
    opacity: 70%;
}

.screenswitch button {
    max-width: 23px!important;
    min-width: 23px!important;
    margin: 0;
    color: white;
    background: black;
    border-radius: 0;
    outline: none;
    box-shadow: none!important;
    font-family: Arial;
    font-size: 13px;
}

.screenswitch button:active {
    background: black;
}

.screenswitch svg:hover, .screenswitch button:hover {
    border-color: cyan;
}